article{
    padding: 10px;
}
aside{
    padding: 10px;
}
header{
    padding: 10px;
}
nav li:hover a{
    transition: all 2s;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(224, 224, 224),
                5px 5px 5px rgb(224, 224, 224);
}
.navbar-brand img {
    max-height: 50px;
    margin-right: 10px; 
}
.navbar-nav .nav-link {
    font-size: 18px;
}
.quiz-container {
    margin: auto;
    padding: 20px;
    background: linear-gradient(to bottom, rgb(176, 117, 196), rgb(255, 255, 255));
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
.quiz-container img{
    max-height: 50px;
    margin-right: 10px;
    margin-top: 10px;
    display: block; 
    margin: 0 auto;
}
#result h2{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
#result p{
    font-size: 18px;
    text-align: justify;
    margin-top: 10px;
}

.gomb{
    margin: 10px;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: solid 2px rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgb(224, 224, 224),
                5px 5px 50px rgb(224, 224, 224);
}
.egomb{
    transition: all 2s;
    margin: 10px;
    text-align: center;
    
    background-color: rgba(0, 0, 0, 0);
    border: solid 2px rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgb(224, 224, 224),
                5px 5px 50px rgb(224, 224, 224);
}
.egomb:hover{
    margin: 10px;
    text-align: center;
    color: rgb(225, 0, 255);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: solid 2px rgb(230, 137, 253);
    box-shadow: 5px 5px 10px rgb(224, 224, 224),
                5px 5px 20px rgb(224, 224, 224);
}
.bgomb{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: solid 2px rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgb(224, 224, 224),
                5px 5px 50px rgb(224, 224, 224);
    transition: all 0.15s;
    text-transform: uppercase;   
    opacity: 0.8;    
}
.bgomb:hover {
    cursor: pointer;
    box-shadow: 5px 5px 10px rgb(224, 224, 224),
                5px 5px 20px rgb(224, 224, 224);
    transform: scale(1.1);
  }

.tartalom{
    margin-bottom: 5%;
}

.cim{
    margin-bottom: 2%;
    text-align: center;
}
.carousel-item{
    padding-top: 10px;
    width: 40%;
    margin-left: 300px;
}
.carousel-item p{
  background: linear-gradient(to right, black, rgb(56, 4, 77));
  background-clip: text;
  color: transparent;
  font-style: italic;
  font-weight: bold;
}
.carousel-inner{
    box-shadow: 5px 5px 10px rgb(255, 255, 255),
                5px 5px 20px rgb(255, 255, 255);
}
@media screen and (max-width:800px) {
    .carousel-item{
        padding-top: 10px;
        width: 40%;
        margin-left: 80px;
    }
}
@media screen and (max-width:400px) {
    .carousel-item{
        padding-top: 10px;
        width: 40%;
        margin-left: 60px;
    }
}