*{
    font-size: large;
}

article{
    padding: 10px;
}
aside{
    padding: 10px;
}
header{
    padding: 10px;
}
.kinezet {
    width: 90%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.685);
    border: 1px solid white;
    color: white;
}
.tartalom>img{
    width: 40%;
    margin: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.664),
                5px 5px 50px rgba(0, 0, 0, 0.658);
}
.tartalom{
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.479);
}
.tartalom>h2{
    margin-top: 10px;
    background: linear-gradient(to left, rgb(92, 26, 64), rgb(31, 8, 114));
    -webkit-background-clip: text;
    color: transparent; 
}
p{
    font-size: larger;
}
.tartalom>p{
    text-align: justify;
}
.navbar-brand img {
    max-height: 50px;
    margin-right: 10px; 
}
.navbar-nav .nav-link {
    font-size: 20px;
}
.tema{
    background-color: yellow;
}
.doboz {
    max-width: 400px;
    background-color: #00000069;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.726);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    display: flex; 
    justify-content: space-between; 
    align-items: end; 
}

.doboz h3 {
    margin-top: 0;
}
.doboz button {
    padding: 5px 10px;
    width: 150px;
    font-size: 16px;
    border: none;
    background-color: #000000de;
    color: rgba(255, 255, 255, 0.726);
    cursor: pointer;
    border-radius: 5px;  
}
.quiz-container {
    margin: auto;
    padding: 20px;
    background: linear-gradient(to bottom, rgb(176, 117, 196), rgb(255, 255, 255));
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
.quiz-container img{
    max-height: 50px;
    margin-right: 10px;
    margin-top: 10px;
    display: block; 
    margin: 0 auto;
}
#result h2{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
#result p{
    font-size: 18px;
    text-align: justify;
    margin-top: 10px;
}

.egomb{
    transition: all 2s;
    margin: 10px;
    text-align: center;
    
    background-color: rgba(0, 0, 0, 0);
    border: solid 2px rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgb(224, 224, 224),
                5px 5px 50px rgb(224, 224, 224);
}
.egomb:hover{
    margin: 10px;
    text-align: center;
    color: rgb(225, 0, 255);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: solid 2px rgb(230, 137, 253);
    box-shadow: 5px 5px 10px rgb(224, 224, 224),
                5px 5px 20px rgb(224, 224, 224);
}
.vgomb{
    margin: 10px;
    text-align: center;
    color: rgb(250, 211, 255);
    border-radius: 50px; 
    width: 200px;
    background-color: rgba(0, 0, 0, 0);
    border: solid 2px rgb(230, 137, 253);
    box-shadow: 5px 5px 5px rgb(0, 0, 0),
                5px 5px 5px rgb(3, 1, 1);
}
.vgomb:hover{
    transition: all 2s;
    background-color: white;
    color: black;
    border-radius: 100px;
    margin: 10px;
    text-align: center;
    box-shadow: 5px 5px 10px rgb(224, 224, 224),
                5px 5px 150px rgba(224, 224, 224, 0.596);
}

.cim{
    margin-bottom: 2%;
    text-align: center;
}
.carousel-item{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 40%;
    margin-left: 350px;
}
.carousel-item p{
  background: linear-gradient(to right, black, rgb(56, 4, 77));
  background-clip: text;
  color: transparent;
  font-style: italic;
  font-weight: bold;
}
.carousel-inner{
    box-shadow: 5px 5px 10px rgb(255, 255, 255),
                5px 5px 20px rgb(255, 255, 255);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover{
    display: block;
}
.meret{
    width: 60%; 
    margin: 0 auto; 
    margin-top: 20px; 
    background-image: url(23.jpeg);
}

@media screen and (max-width: 800px) {
    .carousel-item{
        padding-top: 10px;
        width: 40%;
        margin-left: 80px;
    }
    .meret{
        width: 100%; 
        margin: 0 auto; 
        margin-top: 20px; 
        background-image: url(23.jpeg);
    }
    .navbar-nav {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .navbar-nav .nav-link {
        text-align: center; 
      }

    .dropdown {
        position: static; 
    }
    .tartalom>img{
        width: 90%;
    }
    .vgomb{
        margin: 10px;
        text-align: center;
        color: rgb(250, 211, 255);
        border-radius: 50px; 
        background-color: rgba(0, 0, 0, 0);
        border: solid 2px rgb(230, 137, 253);
        box-shadow: 5px 5px 5px rgb(0, 0, 0),
                    5px 5px 5px rgb(3, 1, 1);
    }
    .vgomb:hover{
        transition: all 2s;
        background-color: white;
        color: black;
        border-radius: 100px;
        margin: 10px;
        text-align: center;
        box-shadow: 5px 5px 10px rgb(224, 224, 224),
                    5px 5px 150px rgba(224, 224, 224, 0.596);
    }
}
@media screen and (max-width:400px) {
    .carousel-item{
        padding-top: 10px;
        width: 40%;
        margin-left: 60px;
    }
}